
<div id="navbar-main">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="burger fa fa-bars fa-1x"></span>
                </button>
                <!-- logo -->
                <a class="navbar-brand  smoothScroll" href="#home"><%= image_tag("drbnyc-logo.png", :alt => "logo", :class => "logo") %></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav  navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll" data-toggle="collapse" data-target=".navbar-collapse">Home</a></li>
                    <li><a href="#services" class="smoothScroll" data-toggle="collapse" data-target=".navbar-collapse">Services</a></li>
                    <li><a href="#about" class="smoothScroll" data-toggle="collapse" data-target=".navbar-collapse">About Us</a></li>
                    <li><a href="#testimonials" class="smoothScroll" data-toggle="collapse" data-target=".navbar-collapse">Testimonials</a></li>
                    <li><a href="#contact" class="smoothScroll" data-toggle="collapse" data-target=".navbar-collapse">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /#navbar-main -->




<div  id="home" class="header-wrap center" name="home">
    <header class="clearfix">
        <h1 class="animated fadeInUp">John Brennan</h1>
        <h2 class="animated fadeInUp">Obstetrician</h2>
        <h3 class="animated fadeInUp">Brooklyn & NYC</h3>
    </header>	    
</div><!-- /.header-wrap -->




<div id="services" class="services-wrap center">
    <br>
    <div class="row">
        <br>
        <br>
        <h1 class="center">Services</h1>
        <hr>
        <br>
        <br> 
        <div class="col-xs-12 col-sm-6 col-md-3 callout">
            <i class="fa fa-heartbeat fa-3x"></i>
            <h2>Health</h2> 
            <p>That tall drink of water with the silver spoon up his ass. you measure yourself by the people who measur</p> 
        </div>  
        <div class="col-xs-12 col-sm-6 col-md-3 callout">
            <i class="fa fa-stethoscope fa-3x"></i>
            <h2>Wellbeing</h2>
            <p>Well, what is it today? more spelunking? mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked.</p>
        </div>  
        <div class="col-xs-12 col-sm-6 col-md-3 callout">
            <i class="fa fa-medkit fa-3x"></i>
            <h2>Exams</h2>
            <p>Your entrance was good, his was better. we got no food we got no money and our pets heads are falling off! Some crazy ipsum right here, I tell ya!</p>
        </div>    
        <div class="col-xs-12 col-sm-6 col-md-3 callout">
            <i class="fa fa-hospital-o fa-3x"></i>
            <h2>Childbirth</h2>
            <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter.</p>
        </div>
    </div>
    <br>
    <p class="center"><em>"I wasn't scared of childbirth. I educated myself and did my fair share of research, and that made me feel a little more prepared."</em><br>- Jamie-Lynn Sigler</p>
    <br>
</div><!-- /#services -->

    


<div id="about" class="container" name="about">
    <div class="row">
        <br>
        <br>
        <h1 class="center">About Us</h1>
        <hr>
        <br>
        <br> 
        <!-- <div class="row  center"> -->
            <div class="col-xs-12 col-md-6 center">
                <%= image_tag("john.jpg", :alt => "john", :class => "team-member") %>
                <br>
                <h4><b>John Brennan</b></h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quas eum excepturi possimus, doloremque eaque laudantium accusamus beatae amet unde, recusandae eligendi ab labore at dolorem tempora! Officia, dolore, qui.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quas eum excepturi possimus, doloremque eaque laudantium accusamus beatae amet unde, recusandae eligendi ab labore at dolorem tempora! Officia, dolore, qui.</p> 
            </div>
            <div class="col-xs-12 col-md-6 center">
                <%= image_tag("jais.jpg", :alt => "jais", :class => "team-member") %>
                <br>
                <h4><b>Jais Brennan</b></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sunt culpa rem, officia fuga facere quod, nulla ut ad impedit tempora nemo placeat delectus adipisci explicabo in atque, iste est.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quas eum excepturi possimus, doloremque eaque laudantium accusamus beatae amet unde, recusandae eligendi ab labore at dolorem tempora! Officia, dolore, qui.</p>
            </div>
        <!-- </div> -->
    </div>
</div><!-- /#about -->
	



<div id="testimonials" class="container center">
    <div class="row">
        <h1>Testimonials</h1>
        <hr>
        <div class="col-xs-12 center test-quote">
            <p>Dr. Brennan is my FAVORITE doctor. Period. I have been a patient for close to two decades.  Dr. Brennan has an excellent bedside manner --consistently courteous and professional. He is highly skilled and respected, as he has trained many other doctors and is a board certified formerly LICH affiliated doctor. He has been my primary care physician as well as my ob/gyn doctor.  He deserves more vacation as he is a workaholic, and is relentlessly willing to serve his patients.  He is blessed and has been a blessing to me many times.  Thank you Dr. Brennan!</p>
            <p>Crystal P. - Yelp</p>
        </div>
        <br>
        <div class="col-xs-12 center test-quote">
            <p>Dr. Brennan and his wife, Jayce [sic], were absolutely amazing during my pregnancy and during and after the delivery of my baby. They are practical people who practice traditional medicine, with good sense, and both of them have a great sense of humor. They took time to listen to all our concerns and answered all our questions (and we had a lot as first-time parents).</p>
            <p>User - Park Slope Parents</p>
        </div>
        <br>
        <div class=" col-xs-12 center test-quote healthgrades">
            <ul>
                <li><i class="fa fa-star fa-2x"></i></li> 
                <li><i class="fa fa-star fa-2x"></i></li>
                <li><i class="fa fa-star fa-2x"></i></li>
                <li><i class="fa fa-star fa-2x"></i></li>
                <li><i class="fa fa-star-half-full fa-2x"></i></li>     
            </ul>
           <p>- healthgrades.com</p>
        </div>
    </div>
</div><!-- /#testimonials -->  




<div id="contact" class="col-xs-12 container center">
    <h1>Contact Us!</h1>
    <hr>
    <div class="address">
        <ul>
            <li>220 Pacific Street </li>
            <li>Brooklyn, NY 11201</li>
            <li>Phone: (718) 222-3636</li>
        </ul>
    </div>
    <br>       
    <h3 class="email-link"><a href="mailto:info@drb.nyc?Subject=Info%20Request">info@drb.nyc</a></h3>
</div><!-- /#contact -->



<div id="map" class="center" name="contact">
    <%= image_tag("gmap.jpg", :alt => "location-map", :class => "map") %>
    <%= image_tag("gmap-mobile.jpg", :alt => "location-map-mobile", :class => "map-mobile") %>
</div>




<div class="copyright center">
    <div class="container">
        <h5>&copy 2015 <%= image_tag("drbnyc-logo.png", :alt => "logo", :class => "logo-footer") %></h5>
    </div>
</div><!-- /.copyright -->

